<nav  class="navbar sticky-top bg-primary ">
  <a class="navbar-brand" href="#">Sticky top</a>
</nav>
<mat-list>
  <mat-list-item><h2 class="right">פרטים אישיים</h2></mat-list-item>

  <div class="personalInfo" id="row">
    <div class="col1">
      <input type="text" value="123456789" disabled /><br />
      <label for="fname">מספר מקרה </label><br />
    </div>
    <div class="col2">
      <input type="text" value="123456789" disabled /><br />
      <label for="fname"> תעודת זהות</label><br />
    </div>
    <div class="col3">
      <input type="text" value="משה ממן" disabled /><br />
      <label for="fname"> שם נבדק</label><br />
    </div>

    <div class="col1">
      <input type="text" value="050-4206262" disabled /><br />
      <label for="fname"
        >טלפון נייד
        <h2></h2></label
      ><br />
    </div>
    <div class="col2">
      <input type="text" value="זכר" disabled /><br />
      <label for="fname"> מין </label><br />
    </div>
    <div class="col3">
      <input type="text" value="13/03/1985" disabled /><br />
      <label for="fname"> תאריך לידה </label><br />
    </div>

    <div class="col1">
      <input type="text" value="test@gmail.com" disabled /><br />
      <label for="fname">
        מייל
        <h2></h2></label
      ><br />
    </div>
    <div class="col2">
      <input type="text" value="טבריה" disabled /><br />
      <label for="fname"> כתובת </label><br />
    </div>
  </div>
  <mat-list-item><h2 class="right">חלק שאלות</h2></mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item><h1 class="right-Bold">חלק טבלאות</h1></mat-list-item>

  <mat-list-item
    ><h3 class="center">
      סיכום ביקורים לשנה במרפאת סוכרת ילדים
    </h3></mat-list-item
  >

  <mat-divider></mat-divider>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">תאריך</th>
        <th scope="col">גובה</th>
        <th scope="col">אחוזון גובה</th>
        <th scope="col">ניהול הסוכרת</th>
        <th scope="col">אחוזון גובה</th>
        <th scope="col">אחוזון גובה</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i">
        <td>
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td>
        <td><input id="checkbox" type="checkbox" /></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <mat-divider></mat-divider>

  <mat-list-item><h3 class="center">בדיקת דם</h3></mat-list-item>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">תאריך</th>
        <th scope="col">גובה</th>
        <th scope="col">אחוזון גובה</th>
        <th scope="col">ניהול הסוכרת</th>
        <th scope="col">אחוזון גובה</th>
        <th scope="col">אחוזון גובה</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; index as i">
        <td>
          {{ country.name }}
        </td>
        <td>{{ country.area | number }}</td>
        <td>{{ country.population | number }}</td>
        <td><input id="checkbox" type="checkbox" /></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</mat-list>

<footer>footer</footer>
