.right {
  position: absolute;
  right: 20px;
  font-weight: bold;
}
.right-Bold {
  position: absolute;
  right: 20px;
  font-weight: bolder;
  font-size: large;
}
.center {
  text-align: center;
  font-weight: bold;
}
.mat-hint {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.personalInfo {
  /* text-align: right; */
  font-weight: bolder;
  padding-top: 20px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
}

.col1 {
  text-align: center;
  margin-left: 50px;
}
.col2 {
  text-align: center;
  margin-left: 50px;
}
.col3 {
  text-align: center;
  margin-left: 50px;
}

input {
  border: 0;
  outline: 0;
  border-bottom: solid;
  text-align: center;
}
input:focus {
  outline: none !important;
}
/* .row1 {
  flex-direction: row;
}
.row2 {
flex-direction: row;}
.row3 {
flex-direction: row;} */

#row {
  flex-direction: row;
}
tr {
  text-align: center;
  /* center checkbox horizontally */
  /* vertical-align: middle; */
  /* center checkbox vertically */
}

